<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<!-- header -->
<div class="navbar navbar-inverse navbar-static navcolor" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ME </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="<%= 'active' if current_page?('/') %>"><a href="/">me</a></li>
                <li class="<%= '' if current_page?('/') %>"><a href="/">data</a></li>
                <li class="<%= '' if current_page?('/') %>"><a href="/">data</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- header -->
<%= yield %>
<div class="col-md-12" style="margin:5% 0px 5% 0px;">
    <div class="container">
        <div class="row nav-row">
            <div class="col-md-2">
                <a href="https://github.com/errakeshpd" ><div><%= image_tag("glyfy/git.png") %>
                    <p>GitHub</p></div></a>
            </div>
            <div class="col-md-2">
                <a href="https://bitbucket.org/errakeshpd" ><div><%= image_tag("glyfy/bitbucket.png") %>
                    <p>Bitbucket</p></div></a>
            </div>
            <div class="col-md-2">
                <a href="http://stackoverflow.com/users/2906559/brito?tab=answers" ><div><%= image_tag("glyfy/stack.png") %>
                    <p>Stackoverslow</p></div></a>
            </div>
            <div class="col-md-2">
                <a href="http://twitter.com/errakeshpd/" ><div><%= image_tag("glyfy/twitter.png") %>
                    <p>Twitter</p></div></a>
            </div>
            <div class="col-md-2">
                <a href="http://www.linkedin.com/profile/view?id=85964206&trk=nav_responsive_tab_profile"><div><%= image_tag("glyfy/lin.png") %>
                <p>Linked in</p></div></a>
            </div>
            <div class="col-md-2">
                <a href="/"><div><%= image_tag("glyfy/blog.png") %>
                    <p>Blogs</p></div></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
